<footer class="footer">
    <div class="footer-container">
        <div class="footer-grid">
            <div class="left-footer">
                <div class="footer-icons">
                    <ion-icon name="logo-facebook" class="footer-icon"></ion-icon>
                    <ion-icon name="logo-instagram" class="footer-icon"></ion-icon>
                    <ion-icon name="logo-twitter" class="footer-icon"></ion-icon>
                </div>

                <h2 class="footer-header">
                    Inner Pieces
                </h2>
                <p class="footer-no">123-456-7890</p>

                <p class="footer-email">info@mysite.com</p>

                <p class="footer-copyright">
                    © 2035 by Inner Pieces.
                </p>
            </div>

            <div class="right-footer">
                <h2 class="footer-form-header">
                    Contact
                </h3>
                <h3 class="footer-dis">Ask me anything</h3>
                <form class="footer-form" action="/" method="get">
                    <div class="footer-name-container">
                        <label for="name" class="footer-label">Name *</label>
                        <input type="text" name="name" class="footer-name footer-input">
                    </div>

                    <div class="footer-email-container"> 
                        <label for="name" class="footer-label">Email *</label>
                        <input type="text" name="email" class="footer-email footer-input">
                    </div>

                    <div class="footer-message-container">
                        <label for="name" class="footer-label footer-message-label">Leave a message *</label>
                        <input type="text" name="message" class="footer-message footer-input">
                    </div>

                    <div class="subscribe-button-container">
                        <button class="subscribe-button submit-button" type="submit">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>
